In [1]:
import pandas as pd

In [2]:
link='https://raw.githubusercontent.com/RUDRANSH-hub/ML-Code_gfg/main/%20Multiple%20Linear%20Regression%20using%20OLS/multiple_linear_regression.csv'
data=pd.read_csv(link)
data.head()

   Feature 1  Feature 2  Feature 3  Target
0      230.1       37.8       69.2    22.1
1       44.5       39.3       45.1    10.4
2       17.2       45.9       69.3     9.3
3      151.5       41.3       58.5    18.5
4      180.8       10.8       58.4    12.9

In [3]:
data=data.dropna()

In [5]:
x=data.iloc[:,data.columns!= 'Target']
y=data.loc[:,'Target']

In [6]:
from sklearn.model_selection import train_test_split as ts
train_input,test_input,train_output,test_output=ts(x,y,test_size=0.30,random_state=43)

In [7]:
train_input

     Feature 1  Feature 2  Feature 3
71       109.8       14.3       31.7
90       134.3        4.9        9.3
100      222.4        4.3       49.8
44        25.1       25.7       43.3
94       107.4       14.0       10.9
..         ...        ...        ...
58       210.8       49.6       37.7
21       237.4        5.1       23.5
49        66.9       11.7       36.8
64       131.1       42.8       28.9
68       237.4       27.5       11.0

[140 rows x 3 columns]

# OLS

In [16]:
import statsmodels.api as sm

In [19]:
x_with_constant=sm.add_constant(train_input)

In [22]:
model=sm.OLS(train_output,x_with_constant)

In [23]:
result=model.fit()

In [24]:
result.params

const        3.077774
Feature 1    0.045978
Feature 2    0.180929
Feature 3   -0.001942
dtype: float64

In [25]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.882
Method:                 Least Squares   F-statistic:                     346.9
Date:                Sat, 23 Mar 2024   Prob (F-statistic):           1.67e-63
Time:                        17:31:11   Log-Likelihood:                -276.47
No. Observations:                 140   AIC:                             560.9
Df Residuals:                     136   BIC:                             572.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.0778      0.398      7.735      0.000       2.291       3.865
Feature 1      0.0460      0.002     26.108      0.000       0.042       0.049
Feature 2      0.1809      0.010     17.575      0.000       0.161       0.201
Feature 3     -0.0019      0.007     -0.280      0.780      -0.016       0.012
==============================================================================
Omnibus:                       51.703   Durbin-Watson:                   2.206
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              130.812
Skew:                          -1.502   Prob(JB):                     3.93e-29
Kurtosis:                       6.661   Cond. No.                         468.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
x=x_with_constant.iloc[:,x_with_constant.columns != 'Feature 3']
test_input=test_input.iloc[:,test_input.columns !='Feature 3']

In [34]:
model=sm.OLS(train_output,x)
result=model.fit()

In [35]:
result.params

const        3.042658
Feature 1    0.045956
Feature 2    0.180111
dtype: float64

In [36]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.883
Method:                 Least Squares   F-statistic:                     523.8
Date:                Sat, 23 Mar 2024   Prob (F-statistic):           6.70e-65
Time:                        17:35:38   Log-Likelihood:                -276.51
No. Observations:                 140   AIC:                             559.0
Df Residuals:                     137   BIC:                             567.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.0427      0.376      8.085      0.000       2.298       3.787
Feature 1      0.0460      0.002     26.211      0.000       0.042       0.049
Feature 2      0.1801      0.010     18.306      0.000       0.161       0.200
==============================================================================
Omnibus:                       51.128   Durbin-Watson:                   2.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              126.947
Skew:                          -1.494   Prob(JB):                     2.71e-28
Kurtosis:                       6.583   Cond. No.                         439.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [40]:
test_input=sm.add_constant(test_input)
predictions=result.predict(test_input)
residual=test_output-predictions

In [41]:
residual

56    -2.939262
37    -0.673044
67     1.344106
79     1.239630
80     0.437358
188   -2.789521
183    2.195710
10     1.475028
128    2.707858
62    -1.131570
65     1.411367
17     1.293014
133    0.422561
195    2.135424
146   -2.191422
38     0.267681
173   -0.360380
149    0.356253
93     1.053006
29     1.331092
0      1.674739
2     -2.800205
122   -2.168991
180   -0.207602
95     0.661267
121   -0.815040
185    2.013413
39     1.189257
66     0.579001
19     0.483414
11     0.167992
45    -0.241997
41    -0.092526
92     0.319068
168   -0.092132
1     -1.766059
57     0.440045
189    0.618625
151    1.483773
167   -1.282865
116    0.184724
138   -0.083634
155   -2.120367
82     1.140622
160    0.169978
181   -1.856569
171    0.133311
12    -1.258310
55     2.619264
77     0.486514
22    -0.913042
129    1.757050
105    1.462893
102   -2.938555
159    0.490935
9     -2.092886
15     1.786298
150   -2.345956
76     2.305384
119   -0.215979
dtype: float64